
/* body {
} */

#modal{
    box-shadow: darkslategray 0px 0px 60px 10px;
    background-color: rgba(16, 16, 16, 0.96);
}

#modal-backdrop{
    background-color: rgba(3, 89, 174, 0.994)
    
}

#select-aCountry{
    font-size: 22px;
    text-decoration: underline;
}

#selectMusicGenres{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}


header{
    background-color: rgba(16, 16, 16, 0.96);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#navbar-default{
    float:right; 
}

#clock{
   left: 20%;
}

#menuButton{
    margin-top: 7px;
}

/* header{
    display: flex; 
    background-color: dodgerblue;
    justify-content: space-between;
    
} */

/* #projectName{
    font-style: italic;
    padding: 25px; 
    font-size: 35px;
} */

#modal-backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}

input[type="checkbox"]:checked:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: green;
}

label {
    font-size: 14px;
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#audio{
    width: 50%;
}

#billboard-toggle{
    margin-bottom: 75px;
    top: 4px;
}


@media screen and (max-width: 768px) {
    .items-end{
        font-size: 36px;
        fill: red;
    }
}

#billboard{

    margin:4px, 4px;
    padding:4px;
    background-color: rgba(3, 89, 174, 0.994);
    width: 100%;
    height: 650px;
    overflow-x: auto;
    overflow-y: auto;
    text-align:justify;
    border-radius: 15px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 75px;
 }

 #top100hits{
    top: 10px; 
 }

 #billboardTitle{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    
 }

 /* #leftCon{ 
    margin-left: 40%;
 } */

 #radioInfo{
    text-align: center;
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    font-style: italic;
    display:grid;
    align-items: center;
    justify-content: center ;

 }

 #radioInfo img{
    /* display:flex;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
 }