
/* body {

} */

#navbar-default{
    float:right; 
}

/* header{
    display: flex; 
    background-color: dodgerblue;
    justify-content: space-between;
    
} */

/* #projectName{
    font-style: italic;
    padding: 25px; 
    font-size: 35px;
} */

#modal-backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="checkbox"]:checked:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: green;
}

label {
    font-size: 14px;
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#billboard{

    float: right;
    width: 40%;
}

#leftCon{
    width: 100%;
}

#audio{
    width: 50%;
}
